name: layer8-server

services:
  server:
    image: dtpthao/auth-server:latest
    container_name: server
    env_file:
      - .env.docker
    ports:
      - "5001:5001"
#    command: ["./server"]
    depends_on:
      auth-postgres:
        condition: service_healthy
      influxdb2:
        condition: service_healthy
    restart: on-failure
    stdin_open: true
    tty: true
    networks:
      l8-server-network:
        ipv4_address: 10.10.11.100

  influxdb2:
    container_name: influxdb2
    image: influxdb:2
    restart: always
    ports:
      - "8086:8086"
    volumes:
      - ./tmp/influxdb2-data:/var/lib/influxdb2
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=admin
      - DOCKER_INFLUXDB_INIT_PASSWORD=somethingthatyoudontknow
      - DOCKER_INFLUXDB_INIT_ORG=layer8org
      - DOCKER_INFLUXDB_INIT_BUCKET=layer8bucket
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=DEFAULT_TOKEN_FOR_TESTING
      - DOCKER_INFLUXDB_INIT_RETENTION=30d
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8086/health" ]
      interval: 5s
      timeout: 5s
      retries: 10
    networks:
      l8-server-network:
        ipv4_address: 10.10.11.101

  auth-postgres:
    container_name: postgres
    image: postgres:13
    restart: always
    environment:
      - POSTGRES_USER=layer8
      - POSTGRES_PASSWORD=layer81234
      - POSTGRES_DB=layer8db
    volumes:
      - ./tmp/pg-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U layer8" ]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      l8-server-network:
        ipv4_address: 10.10.11.102

networks:
  l8-server-network:
    driver: bridge
    ipam:
      config:
        - subnet: 10.10.11.0/24


