name: auth-server

services:
  auth-server:
    image: dtpthao/auth-server:latest
    container_name: auth-server
    env_file:
      - ./auth-server/.env
    ports:
      - "5001:5001"
    hostname: auth
    domainname: layer8proxy.net
    command: ["./main"]
    depends_on:
      auth-postgres:
        condition: service_healthy
      influxdb2:
        condition: service_healthy
      auth-telegraf:
        condition: service_healthy
    restart: on-failure
    stdin_open: true
    tty: true

  influxdb2:
    container_name: influxdb2
    image: influxdb:2
    restart: always
    ports:
      - "8086:8086"
    volumes:
      - ./influxdb2-data:/var/lib/influxdb2
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=admin
      - DOCKER_INFLUXDB_INIT_PASSWORD=somethingthatyoudontknow
      - DOCKER_INFLUXDB_INIT_ORG=layer8
      - DOCKER_INFLUXDB_INIT_BUCKET=layer8
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=DEFAULT_TOKEN_FOR_TESTING
      - DOCKER_INFLUXDB_INIT_RETENTION=30d
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8086/health" ]
      interval: 5s
      timeout: 5s
      retries: 10

  auth-telegraf:
    image: telegraf:alpine
    container_name: auth-telegraf
    restart: always
    volumes:
      - ./auth-server/telegraf.conf:/etc/telegraf/telegraf.conf:ro
    ports:
      - "4317:4317"
    environment:
      - INFLUXDB_URL_TELEGRAF=http://host.docker.internal:8086
      - INFLUXDB_TOKEN=DEFAULT_TOKEN_FOR_TESTING
    extra_hosts:
      - "host.docker.internal:host-gateway"
    healthcheck:
      test: [ "CMD-SHELL", "nc -z localhost 4317" ]
      interval: 5s
      timeout: 5s
      retries: 10

  auth-postgres:
    container_name: postgres
    image: postgres:13
    restart: always
    environment:
      - POSTGRES_USER=layer8
      - POSTGRES_PASSWORD=layer81234
      - POSTGRES_DB=layer8db
    volumes:
      - ./tmp/pg-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U layer8development" ]
      interval: 5s
      timeout: 5s
      retries: 5

  auth-setup:
    image: dtpthao/auth-server:latest
    container_name: auth-setup
    environment:
      - DB_SETUP_MIGRATION_PATH=./migrations
    env_file:
      - ./auth-server/.env
    command: [ "./setup", "docker" ]
    depends_on:
      auth-postgres:
        condition: service_healthy
      influxdb2:
        condition: service_healthy
      auth-telegraf:
        condition: service_healthy
    restart: "no"

