@layer components {
  /*
    Layout containers
    Legacy styles aligned with Tailwind layering
  */

  .welcome-container,
  .user-container,
  .client-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  /* Desktop layout */
  @media (min-width: 1024px) {
    .welcome-container {
      max-width: 1200px;
      padding-left: 2rem;
      padding-right: 2rem;
    }

    .user-container {
      max-width: 1220px;
      padding-left: 2rem;
      padding-right: 2rem;
    }

    .client-container {
      max-width: 1120px;
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
}
